
nav ul {
list-style: none;
padding: 0;
margin: 0;
display: flex;
gap: 20px;
background-color: #222;
}

nav ul li {
display: inline;
}

nav ul li a {
color: #fff;
text-decoration: none;
padding: 10px 15px;
display: block;
font-weight: bold;
transition: background-color 0.3s ease;
}

nav ul li a:hover {
background-color: #e30613; /* фирменный красный Mouz */
border-radius: 5px;
}

.card-mouz {
    align-items: center;
}

.img-mz {
    width: 350px;
    margin: 0 800px;
    margin-top: 100px;
    
}


body, html {
  overflow-x: hidden; /* отключит горизонтальный скролл */
}


.red-background {
background-color: #ff0000; 
box-shadow: 0 4px 8px rgba(255, 0, 0, 0.5), 0 6px 20px rgba(139, 0, 0, 0.6); /* оттенки тени */ 
height: 113vh; 
margin: 0;     
padding: 0;
}
html, body {
margin: 0;    
height: 100%;  
}

.inform {
    margin-left: 600px;
}

.heading {
    margin: 0 800px;
    margin-top: 150px;
}

.crystallis-card {
    margin:0 710px;
    margin-top: 30px;
    transition: transform 0.3s ease; 
}


.crystallis-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 650px;
}

.crysstalis-button {
    margin-left: 500px;
}


.midone-button{
    display: inline-block;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    margin-left: 900px;
}

.midone-img {
    margin:0 710px;
    margin-top: 30px;
}

.midone-text {
    margin-left: 650px;
    font-family:  'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}


.crystallis-card:hover, .midone-img:hover {
    transform: scale(1.1); 
}



.inform {
    border: 2px solid white; 
    padding: 10px; 
    background-color: rgba(0, 0, 0, 0.5); 
    color: white; 
    border-radius: 5px; 
    }




#myButton {
    margin-left: 900px;
    width: 150px;
    font-size: 18px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serifs;      
    padding: 10px 20px;  
    cursor: pointer;
    transition: color 0.3s, background-color 0.3s;
}

